form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}



input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn-enviar {
    padding: 10px;
    background-color: rgb(1, 24, 1);
    ;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}

.btn-enviar:hover {
    background-color: green;
}

.error,
.success {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.imgContato {
    border-radius: 8px;
    margin-top: 10%;
}